<!doctype html>
<html>
	<head>
		<title>Register</title>

		<link rel="stylesheet" href="/static/css/style.css" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>

	<body>
		<nav class="navbar">
			<h2>CarService</h2>

			<div class="nav-links">
				<a href="/">Login</a>
			</div>
		</nav>

		<div class="container">
			<h2>Create Account</h2>

			<form method="POST">
				<input name="name" placeholder="Name" /><br />

				<input name="email" placeholder="Email" /><br />

				<input name="password" type="password" placeholder="Password" /><br />

				<button type="submit">Register</button>
			</form>

			<br />

			<a href="/">Back to Login</a>
		</div>
	</body>
</html>
